<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1072520543866-bpgc4aq6t4p58jplth1h8eqhe04kfk8e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1072520543866-bpgc4aq6t4p58jplth1h8eqhe04kfk8e</string>
	<key>API_KEY</key>
	<string>AIzaSyCsgUhx2kMXI8kPqdMErJW07p-v0d0skNo</string>
	<key>GCM_SENDER_ID</key>
	<string>1072520543866</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.hrBabElrian</string>
	<key>PROJECT_ID</key>
	<string>hrbabelrian</string>
	<key>STORAGE_BUCKET</key>
	<string>hrbabelrian.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1072520543866:ios:ee5b308c34fd10c34d05c3</string>
</dict>
</plist>